/*esto es un comentario en css*/
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

.bg-violet {
    background-color: #000000;
}
.list-group{
  --bs-list-group-bg:transparent;
}
.fa-brands.fa-facebook:hover{
    --bs-text-opacity: 1;
    color:#240df5 !important;
}
.fa-brands.fa-instagram:hover{
  --bs-text-opacity: 1;
  color:#ff0055f3 !important;
}
.fa-brands.fa-twitter:hover{
  --bs-text-opacity: 1;
  color:#0099ff !important;
}
.fa-brands.fa-github:hover{
  --bs-text-opacity: 1;
  color:#7015d8f3 !important;
}
.fa-brands.fa-linkedin:hover{
  --bs-text-opacity: 1;
  color:#4895ec !important;
}



